
.page {
	height: 100%;
	width: 100%;
	background-color: #009ACD
}

body {
	background-color: #009ACD

}

.main {
	background-color: #ECF0F1;
	height: 100%
}

.blogName {
	color: #009ACD;
}



.posts {
	background-color: #009ACD;
	color: #009ACD;
	padding: 5px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border-radius: 10px;
}

.posts h4{
	border-bottom: 3px solid #ECF0F1;
	background-color: #ECF0F1;
	border-radius: 3px;
	padding: 2px;
}

.posts p{
	background-color: #ECF0F1;
	padding: 3px;
	border-radius: 3px;
	font-size: 125%
}

.edit {
	float: right;
}